<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/libs/normalize-css/normalize.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap-grid.min.css'/>
    <link rel="stylesheet" href="/libs/aos/dist/aos.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.theme.default.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body class="body">
<navigation class="navigation ">
    <div class="div"></div>


</navigation>
<section class="main-page w-100">
    <div class="background-layer first w-100 h-100"></div>
    <div class="background-layer second w-100 h-100"></div>
    <div class="background-layer third w-100 h-100"></div>
    <div class="background-layer four w-100 h-100"></div>
    <div class="dark-layer w-100 h-100"></div>
    <nav id="header" class="sticky d-flex align-items-center justify-content-between ">
        <a id="white-logo" class="show" href="/"><img class="logo " src="/images/logo_white.png" alt=""></a>
        <a id="black-logo" href="/"><img class="logo " src="/images/logo_black.png" alt=""></a>
        <div id="hamburger" class="hamburger__wrapper js-hamburger">
            <div class="hamburger">
                <span id="first-line"></span>
                <span id="second-line"></span>
                <span id="third-line"></span>
            </div>
        </div>
    </nav>
    <div class="info d-flex flex-column align-items-center  justify-content-center">
        <div class="d-flex">
            <h1 id="1-word">Учись.</h1>
            <h1 id="2-word">Создавай.</h1>
            <h1 id="3-word">Твори.</h1>
        </div>
        <button>
            Оставить заявку
        </button>
    </div>
</section>
<section class="lessons w-100 p-5 d-flex flex-column align-items-center ">
    <div class="tac w-100 d-flex justify-content-center flex-column align-items-center mb-4">
        <h3>Курсы</h3>
        <p>Учеба на курсы для вашего удобства. Найдите курс который подходит именно вам.</p>

    </div>
    <div class="container-fluid w-100 ">
        <div class="row w-100 m-0">

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/html">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/html.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">HTML/CSS</span>
                                    <span class="course-count"> 24 занятия / 12 недель</span>
                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 KZT </p>
                                </div>

                            </div>

                            <p class="m-0">
                                Основы дизайна, front-end и back-end-разработок.
                            </p>
                        </div>

                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/scratch.png" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Scratch</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Курс для маленьких начинающих программистов.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/java.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Java</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Разработка программного обеспечения с введением в Java - востребованный язык
                                программирования и основу операционной системы Android.
                            </p>
                        </div>

                    </div>

                </a>
            </div>

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/python.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Python</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Фундаментальные концепции программирования, включая структуры данных, сетевые интерфейсы
                                прикладных программ и базы данных.
                            </p>
                        </div>

                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/algorithm.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Algorithms</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Введение в алгоритмы для учеников с хотя бы небольшим опытом программирования.
                            </p>
                        </div>

                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/drawing.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Design</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Инструменты работы веб-дизайнера, проектирование, подготовка макетов к верстке,
                                композиция, цвет, типографика и подготовка портфолио.
                            </p>
                        </div>

                    </div>
                </a>
            </div>


        </div>
    </div>
</section>
<section id="statistics" class="statistics d-flex flex-column align-items-center ">
    <div class="header">
        <h4>Числа не врут.</h4>
    </div>
    <div class="company owl-carousel h-100">
        <div class="item d-flex flex-column ">
            <div class="company-name d-flex w-100 align-items-center justify-content-between">
                <h5>Facebook</h5>
                <img src="/images/facebook.png" alt="">
            </div>
            <div class="bars-container h-100 d-flex flex-column ">
                <!--<div class="work-type  d-flex flex-column">-->
                <!--<ul>-->
                <!--<li>Designer</li>-->
                <!--<li>Front-end</li>-->
                <!--<li>Back-end</li>-->
                <!--<li>Android</li>-->
                <!--<li>IOS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="bar  d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Designer</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line first nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Front-end</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line second nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Back-end</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line third nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Android</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line four nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">IOS</p>
                </div>
            </div>
        </div>
        <div class="item d-flex flex-column">
            <div class="company-name d-flex w-100 align-items-center justify-content-between">
                <h5>Twitter</h5>
                <img src="/images/twitter.png" alt="">
            </div>
            <div class="bars-container h-100 d-flex flex-column ">
                <!--<div class="work-type  d-flex flex-column">-->
                <!--<ul>-->
                <!--<li>Designer</li>-->
                <!--<li>Front-end</li>-->
                <!--<li>Back-end</li>-->
                <!--<li>Android</li>-->
                <!--<li>IOS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="bar  d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Designer</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line first nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Front-end</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line second nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Back-end</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line third nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Android</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line four nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">IOS</p>
                </div>
            </div>


        </div>
        <div class="item d-flex flex-column">
            <div class="company-name d-flex w-100 align-items-center justify-content-between">
                <h5>Google</h5>
                <img src="/images/google.png" alt="">
            </div>
            <div class="bars-container h-100 d-flex flex-column ">
                <!--<div class="work-type  d-flex flex-column">-->
                <!--<ul>-->
                <!--<li>Designer</li>-->
                <!--<li>Front-end</li>-->
                <!--<li>Back-end</li>-->
                <!--<li>Android</li>-->
                <!--<li>IOS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="bar  d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Designer</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line first nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Front-end</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line second nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Back-end</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line third nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Android</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line four nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">IOS</p>
                </div>
            </div>


        </div>
        <div class="item d-flex flex-column">
            <div class="company-name d-flex w-100 align-items-center justify-content-between">
                <h5>Amazon</h5>
                <img src="/images/amazon.png" alt="">
            </div>
            <div class="bars-container h-100 d-flex flex-column ">
                <!--<div class="work-type  d-flex flex-column">-->
                <!--<ul>-->
                <!--<li>Designer</li>-->
                <!--<li>Front-end</li>-->
                <!--<li>Back-end</li>-->
                <!--<li>Android</li>-->
                <!--<li>IOS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="bar  d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Designer</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line first nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Front-end</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line second nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Back-end</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line third nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Android</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line four nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">IOS</p>
                </div>
            </div>


        </div>


    </div>
</section>
<section class="mentors w-100 d-flex flex-column">
    <div class="header w-100 d-flex justify-content-center align-items-center">
        <h3>Наш состав:</h3>

    </div>
    <div class="list  d-flex flex-column ">
        <div class="owl-carousel team ">

            <div class="teacher d-flex align-items-center justify-content-center">
                <div class="content  flex-column align-items-center justify-content-around">

                    <img class="preview-img" src="/images/mainpage/Joha.jpg" alt="">
                    <div class="info w-100 h-100   align-items-center justify-content-around">
                        <div class="triangle"></div>
                        <div class="triangle big"></div>
                        <div class="more h-100 d-flex align-items-center justify-content-center">
                            <ul>
                                <li>
                                    <p>Age:19</p>
                                </li>

                                <li>
                                    <p>Status:Senior</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about h-100 pl-3 d-flex flex-column justify-content-between">
                            <div class="tn-first d-flex flex-column justify-content-center">
                                <h4>Jakhanger Kazhiyev</h4>
                                <h5>Front-end, Scratch</h5>
                            </div>
                            <div class="tn-last d-flex">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur
                                    cupiditate eligendi hic optio rerum!</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="teacher d-flex align-items-center justify-content-center">
                <div class="content  flex-column align-items-center justify-content-around">

                    <img class="preview-img" src="/images/mainpage/Joha.jpg" alt="">
                    <div class="info w-100 h-100   align-items-center justify-content-around">
                        <div class="triangle"></div>
                        <div class="triangle big"></div>
                        <div class="more h-100 d-flex align-items-center justify-content-center">
                            <ul>
                                <li>
                                    <p>Age:19</p>
                                </li>

                                <li>
                                    <p>Status:Senior</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about h-100 pl-3 d-flex flex-column justify-content-between">
                            <div class="tn-first d-flex flex-column justify-content-center">
                                <h4>Jakhanger Kazhiyev</h4>
                                <h5>Front-end, Scratch</h5>
                            </div>
                            <div class="tn-last d-flex">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur
                                    cupiditate eligendi hic optio rerum!</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="teacher d-flex align-items-center justify-content-center">
                <div class="content  flex-column align-items-center justify-content-around">

                    <img class="preview-img" src="/images/mainpage/Joha.jpg" alt="">
                    <div class="info w-100 h-100   align-items-center justify-content-around">
                        <div class="triangle"></div>
                        <div class="triangle big"></div>
                        <div class="more h-100 d-flex align-items-center justify-content-center">
                            <ul>
                                <li>
                                    <p>Age:19</p>
                                </li>

                                <li>
                                    <p>Status:Senior</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about h-100 pl-3 d-flex flex-column justify-content-between">
                            <div class="tn-first d-flex flex-column justify-content-center">
                                <h4>Jakhanger Kazhiyev</h4>
                                <h5>Front-end, Scratch</h5>
                            </div>
                            <div class="tn-last d-flex">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur
                                    cupiditate eligendi hic optio rerum!</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="teacher d-flex align-items-center justify-content-center">
                <div class="content  flex-column align-items-center justify-content-around">

                    <img class="preview-img" src="/images/mainpage/Joha.jpg" alt="">
                    <div class="info w-100 h-100   align-items-center justify-content-around">
                        <div class="triangle"></div>
                        <div class="triangle big"></div>
                        <div class="more h-100 d-flex align-items-center justify-content-center">
                            <ul>
                                <li>
                                    <p>Age:19</p>
                                </li>

                                <li>
                                    <p>Status:Senior</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about h-100 pl-3 d-flex flex-column justify-content-between">
                            <div class="tn-first d-flex flex-column justify-content-center">
                                <h4>Jakhanger Kazhiyev</h4>
                                <h5>Front-end, Scratch</h5>
                            </div>
                            <div class="tn-last d-flex">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur
                                    cupiditate eligendi hic optio rerum!</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<section class="fee-of-companies">

</section>
<section class="feedback-form w-100 d-flex flex-column align-items-center">
    <div class="tac d-flex align-items-center justify-content-center">
        <h3>Свяжитесь с нами</h3>
    </div>
    <div class="feedback-details w-100 d-flex  row">
        <div class="info d-flex col-md-6 p-0">
            <div class="conver w-100 h-100 d-flex">
                <form class=" h-100 d-flex flex-column justify-content-around p-5" action="">
                    <div>
                        <h4>Имя:</h4>
                        <input type="text" name="name" placeholder="John Doe">
                    </div>
                    <div>
                        <h4>Номер телефона:</h4>
                        <input type="text" name="phone" placeholder="+7-(708)-000-00-00">
                    </div>
                    <div>
                        <h4>Курс который хотите пройти:</h4>
                        <input class="mb-0" type="text" name="course" placeholder="HTML/CSS">
                    </div>
                    <div class="break_line"></div>
                </form>
                <div class="our-info p-5 d-flex flex-column justify-content-around">
                    <div class="item">
                        <h4>Tel:</h4>
                        <p>+7 708 723 34 51</p>
                    </div>
                    <div class="item">
                        <h4>Email:</h4>
                        <p>Keynote@gmail.com</p>
                    </div>
                    <div class="item">
                        <h4>Address:</h4>
                        <p>Almaty st.Kazhimukana 17</p>
                    </div>
                </div>
                <img class="bookmark" src="/images/mainpage/bookmark.svg" alt="">
            </div>
        </div>
        <div class="col-md-6 info map">
            <a class="dg-widget-link"
               href="http://2gis.kz/almaty/firm/70000001029135976/center/76.914927,43.236892/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                на карте Алматы</a>
            <div class="dg-widget-link"><a
                    href="http://2gis.kz/almaty/center/76.914927,40.236892/zoom/16/routeTab/rsType/bus/to/76.914927,43.236892╎SmArt.Point, коворкинг-центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                проезд до SmArt.Point, коворкинг-центр</a></div>
            <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
            <script charset="utf-8">new DGWidgetLoader({
                "width": 640,
                "height": 640,
                "borderRadius": "10px",
                "borderColor": "#a3a3a3",
                "pos": {"lat": 43.236892, "lon": 76.914927, "zoom": 16},
                "opt": {"city": "almaty"},
                "org": [{"id": "70000001029135976"}]
            });</script>
            <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите
                его в настройках вашего браузера.
            </noscript>
        </div>


    </div>
</section>
<footer class="footer w-100 d-flex align-items-start justify-content-center">
    <!--<div class="d-flex h-100 align-items-center justify-content-around py-4 flex-column">-->
    <!--<h4 class="company-name">KEYNOTE</h4>-->
    <!--<div class="social d-flex align-items-center justify-content-around">-->
    <!--<a href="">-->
    <!--<img src="/images/mainpage/instagram-logo.svg" alt="">-->
    <!--</a>-->
    <!--<a href="">-->
    <!--<img src="/images/mainpage/close-envelope.svg" alt="">-->
    <!--</a>-->
    <!--<a href="">-->
    <!--<img src="/images/mainpage/facebook-logo.svg" alt="">-->
    <!--</a>-->
    <!--</div>-->
    <!--<h5 class="email">keynote@gmail.com</h5>-->
    <!--<h5 class="address">Almaty, st.Abylaikhana 8, 256 off </h5>-->
    <!--</div>-->
    <div class="header d-flex justify-content-between align-items-center">
        <div class="social col">
            <a href="https://www.instagram.com/keynote.studies/">
                <img src="/images/instagram-logo.svg" alt="">
            </a>
            <a href="https://www.facebook.com/groups/246941362511468/?ref=bookmarks">
                <img src="/images/facebook-logo.svg" alt="">
            </a>
            <a href="mailto:keynote.studies@gmail.com">
                <img src="/images/close-envelope.svg" alt="">
            </a>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <img class="logo" src="/images/logo_white.png" alt="">

        </div>
        <div class="address col d-flex justify-content-end">
            <p><img src="/images/telephone.svg" alt="">:+7-(708)-000-00-00</p>
        </div>
    </div>
    <div class="read-about"></div>
</footer>

<script src="/libs/jquery/dist/jquery.js"></script>
<script src="/libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/libs/aos/dist/aos.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>
