<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/libs/normalize-css/normalize.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap-grid.min.css'/>
    <link rel="stylesheet" href="/libs/aos/dist/aos.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.theme.default.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body class="body">
<navigation class="navigation flex-column">
    <a class="lent " href="#main" rel="relativeanchor">Главная</a>
    <a class="lent " href="#courses">Курсы</a>
    <a class="lent " href="#team">О нас</a>
    <a class="lent " href="#contacts">Контакты</a>



</navigation>
<section id="main" class="main-page w-100">
    <div class="background-layer first w-100 h-100"></div>
    <div class="background-layer second w-100 h-100"></div>
    <div class="background-layer third w-100 h-100"></div>
    <div class="background-layer four w-100 h-100"></div>
    <div class="dark-layer w-100 h-100"></div>
    <nav id="header" class="sticky d-flex align-items-center justify-content-between ">
        <a id="white-logo" class="show" href="/"><img class="logo " src="/images/logo_white.png" alt=""></a>
        <a id="black-logo" href="/"><img class="logo " src="/images/logo_black.png" alt=""></a>
        <a class="lent d-none d-md-block" href="#main" rel="relativeanchor">Главная</a>
        <a class="lent d-none d-md-block" href="#courses">Курсы</a>
        <a class="lent d-none d-md-block" href="#team">О нас</a>
        <a class="lent d-none d-md-block" href="#contacts">Контакты</a>
        <div id="hamburger" class="hamburger__wrapper js-hamburger d-flex d-md-none ">
            <div class="hamburger">
                <span id="first-line"></span>
                <span id="second-line"></span>
                <span id="third-line"></span>


            </div>
        </div>
    </nav>
    <div class="info d-flex flex-column align-items-center  justify-content-center">
        <div class="d-flex">
            <h1 id="word">Учись</h1>
            <!--<h1 id="2-word">Создавай.</h1>-->
            <!--<h1 id="3-word">Твори.</h1>-->
        </div>
        <button>
            <a href="">
                Наши курсы
            </a>
        </button>
    </div>
</section>
<section class="fee-in-kz d-flex flex-column align-items-center ">
    <div class="kz1 d-flex flex-column align-items-center">
        <h2>150 000 KZT</h2>
        <p>Средняя заработная плата в Казахстане</p>
    </div>
    <div class="trades row d-flex justify-content-center ">
        <div class="col-md-2 px-0 d-flex flex-column align-items-center">
            <div class="circle  d-flex align-items-center justify-content-center">
                <img src="/images/mainpage/house.svg" alt="">
            </div>
            <p>Ком. услуги</p>
            <span>50.000 KZT</span>
        </div>
        <div class="col-md-1 plus d-flex align-items-center justify-content-center">
            <img src="/images/mainpage/add.svg" alt="">
        </div>
        <div class="col-md-2 px-0 d-flex flex-column align-items-center">
            <div class="circle d-flex align-items-center justify-content-center">
                <img src="/images/mainpage/diet.svg" alt="">
            </div>
            <p>Продукты питания</p>
            <span>30.000 KZT</span>
        </div>
        <div class="col-md-1 plus d-flex align-items-center justify-content-center">
            <img src="/images/mainpage/add.svg" alt="">
        </div>
        <div class="col-md-2 px-0 d-flex flex-column align-items-center">
            <div class="circle d-flex align-items-center justify-content-center">
                <img src="/images/mainpage/car.svg" alt="">
            </div>
            <p>Транспорт</p>
            <span>35.000 KZT</span>
        </div>
        <div class="col-md-1 plus d-flex align-items-center justify-content-center">
            <img src="/images/mainpage/add.svg" alt="">
        </div>
        <div class="col-md-2 px-0 d-flex flex-column align-items-center">
            <div class="circle d-flex align-items-center justify-content-center">
                <img src="/images/mainpage/hanger.svg" alt="">
            </div>
            <p>Одежда</p>
            <span>35.000 KZT</span>
        </div>
    </div>
    <div class="summary d-flex flex-column align-items-center">
        <img src="/images/mainpage/equal.svg" alt="">
        <h3>0 KZT</h3>
        <p>На свое развитие</p>
        <button>
            Зарабатывать больше
        </button>
    </div>
</section>
<section id="statistics" class="statistics d-flex flex-column align-items-center ">
    <div class="header d-flex flex-column align-items-center">
        <h4>Заработная плата программистов и дизайнеров в крупных компаниях</h4>
    </div>
    <div class="company owl-carousel h-100">
        <div class="item d-flex flex-column ">
            <div class="company-name d-flex w-100 align-items-center justify-content-between">
                <img src="/images/facebook.png" alt="">
            </div>
            <div class="bars-container h-100 d-flex flex-column ">
                <!--<div class="work-type  d-flex flex-column">-->
                <!--<ul>-->
                <!--<li>Designer</li>-->
                <!--<li>Front-end</li>-->
                <!--<li>Back-end</li>-->
                <!--<li>Android</li>-->
                <!--<li>IOS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="bar  d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line nthng"></div>
                        <span class="nthng fee">$132.500</span>
                    </div>
                    <p class="nthng profession">Java</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line first nthng"></div>
                        <span class="nthng fee">$132.000</span>
                    </div>
                    <p class="nthng profession">Веб-разработчик</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line second nthng"></div>
                        <span class="nthng fee"> $122.000</span>

                    </div>
                    <p class="profession nthng">Дизайнер</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line third nthng"></div>
                        <span class="nthng fee"> $111.500</span>

                    </div>
                    <p class="profession nthng">Научный сотрудник</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line four nthng"></div>
                        <span class="nthng fee">$114.000</span>

                    </div>
                    <p class="profession nthng">Android</p>
                </div>
            </div>
        </div>

        <div class="item d-flex flex-column">
            <div class="company-name d-flex w-100 align-items-center justify-content-between">
                <img src="/images/google.png" alt="">
            </div>
            <div class="bars-container h-100 d-flex flex-column ">
                <!--<div class="work-type  d-flex flex-column">-->
                <!--<ul>-->
                <!--<li>Designer</li>-->
                <!--<li>Front-end</li>-->
                <!--<li>Back-end</li>-->
                <!--<li>Android</li>-->
                <!--<li>IOS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="bar  d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line nthng"></div>
                        <span class="nthng fee">$158.500</span>
                    </div>
                    <p class="nthng profession">Дизайнер</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line first nthng"></div>
                        <span class="nthng fee">$147.500</span>
                    </div>
                    <p class="nthng profession">IOS</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line second nthng"></div>
                        <span class="nthng fee">$134.000</span>

                    </div>
                    <p class="profession nthng">Веб-разработчик</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line third nthng"></div>
                        <span class="nthng fee">$121.000</span>

                    </div>
                    <p class="profession nthng">Android</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line four nthng"></div>
                        <span class="nthng fee">$120.000</span>

                    </div>
                    <p class="profession nthng">Научный сотрудник</p>
                </div>
            </div>


        </div>
        <div class="item d-flex flex-column">
            <div class="company-name d-flex w-100 align-items-center justify-content-between">
                <img src="/images/twitter.png" alt="">
            </div>
            <div class="bars-container h-100 d-flex flex-column ">
                <!--<div class="work-type  d-flex flex-column">-->
                <!--<ul>-->
                <!--<li>Designer</li>-->
                <!--<li>Front-end</li>-->
                <!--<li>Back-end</li>-->
                <!--<li>Android</li>-->
                <!--<li>IOS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="bar  d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Designer</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line first nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Front-end</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line second nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Back-end</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line third nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Android</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line four nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">IOS</p>
                </div>
            </div>


        </div>
        <div class="item d-flex flex-column">
            <div class="company-name d-flex w-100 align-items-center justify-content-between">
                <img src="/images/amazon.png" alt="">
            </div>
            <div class="bars-container h-100 d-flex flex-column ">
                <!--<div class="work-type  d-flex flex-column">-->
                <!--<ul>-->
                <!--<li>Designer</li>-->
                <!--<li>Front-end</li>-->
                <!--<li>Back-end</li>-->
                <!--<li>Android</li>-->
                <!--<li>IOS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="bar  d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Designer</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line first nthng"></div>
                        <span class="nthng fee">160.000 $</span>
                    </div>
                    <p class="nthng profession">Front-end</p>

                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line second nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Back-end</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line third nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">Android</p>
                </div>
                <div class="bar d-flex flex-column">
                    <div class="line-container d-flex align-items-center ">
                        <div class="line four nthng"></div>
                        <span class="nthng fee">160.000 $</span>

                    </div>
                    <p class="profession nthng">IOS</p>
                </div>
            </div>


        </div>


    </div>
</section>
<section class="learn-more d-flex align-items-center justify-content-center">
    <h3>ИЗУЧАЙ ПРОГРАМИРОВАНИЕ И ДИЗАЙН</h3>
</section>
<section id="courses" class="lessons w-100 p-5 d-flex flex-column align-items-center ">
    <div class="tac w-100 d-flex justify-content-center flex-column align-items-center mb-4">
        <h3>Курсы</h3>
        <p>Найдите курс который подходит именно вам.</p>

    </div>
    <div class="container-fluid w-100 ">
        <div class="row w-100 m-0">

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/html">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/html.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">HTML/CSS</span>
                                    <span class="course-count"> 24 занятия / 12 недель</span>
                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 30.000 KZT </p>
                                </div>

                            </div>

                            <p class="m-0">
                                Основы дизайна, front-end и back-end-разработок.
                            </p>
                        </div>
                        <button class="register">
                            Записаться
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/scratch">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/scratch.png" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Scratch</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Курс для маленьких начинающих программистов.
                            </p>
                        </div>
                        <button class="register">
                            Записаться
                        </button>
                    </div>
                </a>
            </div>

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/java">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/java.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Java</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 27.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Курс подойдет всем, кто желает научиться программировать на языке Java "с нуля" или
                                переучиться с другого языка программирования.</p>
                        </div>
                        <button class="register">
                            Записаться
                        </button>
                    </div>

                </a>
            </div>

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/python">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/python.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Python</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 27.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Этот курс будет полезен всем, кто хочет познакомиться с языком программирования Python и
                                углубить свои знания о нём.
                            </p>
                        </div>
                        <button class="register">
                            Записаться
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/algorithm">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/algorithm.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Algorithms</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 30.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Курс представляет собой изучение основных алгоритмов и структур данных, необходимых
                                программистам для качественного решения ежедневных задач.

                            </p>
                        </div>
                        <button class="register">
                            Записаться
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/design">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/drawing.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Design</span>
                                    <span class="course-count">24 занятия / 12 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 30.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Рекомендуем пройти обучение специалистам и программистам, начинающим дизайнерам
                                любого направления, которые хотят научиться создавать дизайн для удобных
                                интерфейсов.</p>
                        </div>
                        <button class="register">
                            Записаться
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/web-intensive">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/web.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Web-Intesive</span>
                                    <span class="course-count">12 занятия / 4 недель</span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 75.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Введение в алгоритмы для учеников с хотя бы небольшим опытом программирования.
                            </p>
                        </div>
                        <button class="register">
                            Записаться
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/individual">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/sharing.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Индивидуальные занятия</span>
                                    <!--<span class="course-count">12 занятия / 4 недель</span>-->

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 5.000 KZT </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Изучение уроков индивидуально.
                            </p>
                        </div>
                        <button class="register">
                            Записаться
                        </button>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>
<section id="team" class="mentors w-100 d-flex flex-column">
    <div class="header w-100 d-flex justify-content-center align-items-center">
        <h3>Наш состав:</h3>

    </div>
    <div class="list container  d-flex flex-column ">
        <div class="row">

            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/1.jpg" alt="">
                </div>
                <h4>Омар Абылай</h4>
                <p>В школьные года был олимпийцем по информатике. Участвовал в различных олимпиадах, а так же в престижной международной студенческой олимпиаде ACM/ICPC.</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/4.jpg" alt="">
                </div>
                <h4>Усентай Айдана </h4>
                <p>Участвовала в коммерческих проектах. Имеет глубокое понимание AutoCAD и 3Ds MAX</p>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/3.jpg" alt="">
                </div>
                <h4>Кажиев Жахангер</h4>
                <p>Участвовал в 20 различных коммерческих проектах. Имеет опыт работы с ICO.</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/2.jpg" alt="">
                </div>
                <h4>Әлібекұлы Шерхан</h4>
                <p>CTO</p>
            </div>
        </div>

        <!--<div class="teacher d-flex justify-content-between">-->
        <!--<div class="about d-flex flex-column justify-content-center ">-->
        <!--<h5>Some info about me:</h5>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores debitis doloremque doloribus ducimus enim eos error eveniet exercitationem nemo nostrum placeat possimus, qui recusandae, repellat sunt tempora voluptatibus voluptatum.</p>-->
        <!--</div>-->
        <!--<div class="main-info d-flex flex-column justify-content-center align-items-center">-->
        <!--<h5>Жахангер Кажиев</h5>-->

        <!--<img src="/images/Joha.jpg" alt="">-->
        <!--<p>Front-end,Skratch</p>-->
        <!--</div>-->
        <!--<div class="personal-info d-flex flex-column justify-content-center">-->
        <!--<h5>Personal info:</h5>-->
        <!--<ul>-->
        <!--<li><span>Tel: </span>+7-707-651-90-87</li>-->
        <!--<li><span>Website: </span>keynote.kz</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->

    </div>
</section>
<section class="fee-of-companies">

</section>
<section class="feedback-form w-100 d-flex flex-column align-items-center">
    <div class="tac d-flex align-items-center justify-content-center">
        <h3>Свяжитесь с нами</h3>
    </div>
    <div class="feedback-details w-100 d-flex  row">

        <div class="col-md-12 info map">
            <a class="dg-widget-link" href="http://2gis.kz/almaty/firm/9429940000785873/center/76.91410303115846,43.2387939306264/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Алматы</a><div class="dg-widget-link"><a href="http://2gis.kz/almaty/firm/9429940000785873/photos/9429940000785873/center/76.91410303115846,43.2387939306264/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.kz/almaty/center/76.914105,43.238497/zoom/16/routeTab/rsType/bus/to/76.914105,43.238497╎Bayzak, бизнес-центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Bayzak, бизнес-центр</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":43.2387939306264,"lon":76.91410303115846,"zoom":16},"opt":{"city":"almaty"},"org":[{"id":"9429940000785873"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
        </div>


    </div>
</section>
<footer id="contacts" class="footer w-100 d-flex flex-column align-items-center  justify-content-between">
    <!--<div class="d-flex h-100  align-items-center justify-content-around py-4 flex-column">-->
    <!--<h4 class="company-name">KEYNOTE</h4>-->
    <!--<div class="social d-flex align-items-center justify-content-around">-->
    <!--<a href="">-->
    <!--<img src="/images/mainpage/instagram-logo.svg" alt="">-->
    <!--</a>-->
    <!--<a href="">-->
    <!--<img src="/images/mainpage/close-envelope.svg" alt="">-->
    <!--</a>-->
    <!--<a href="">-->
    <!--<img src="/images/mainpage/facebook-logo.svg" alt="">-->
    <!--</a>-->
    <!--</div>-->
    <!--<h5 class="email">keynote@gmail.com</h5>-->
    <!--<h5 class="address">Almaty, st.Abylaikhana 8, 256 off </h5>-->
    <!--</div>-->
    <!--<div class="header d-flex justify-content-between align-items-center">-->
    <!--<div class="social col">-->
    <!--<a href="https://www.instagram.com/keynote.studies/">-->
    <!--<img src="/images/instagram-logo.svg" alt="">-->
    <!--</a>-->
    <!--<a href="https://www.facebook.com/groups/246941362511468/?ref=bookmarks">-->
    <!--<img src="/images/facebook-logo.svg" alt="">-->
    <!--</a>-->
    <!--<a href="mailto:keynote.studies@gmail.com">-->
    <!--<img src="/images/close-envelope.svg" alt="">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col d-flex align-items-center justify-content-center">-->
    <!--<img class="logo" src="/images/logo_white.png" alt="">-->

    <!--</div>-->
    <!--<div class="address col d-flex justify-content-end">-->
    <!--<p><img src="/images/telephone.svg" alt="">:+7-(708)-000-00-00</p>-->
    <!--</div>-->
    <!--</div>-->
    <img class="logo" src="/images/logo_white.png" alt="">
    <div class="social-network d-flex flex-column align-items-center">

        <div class="d-flex">
            <a class="d-flex align-items-center" href="https://www.instagram.com/keynote.studies/">
                <img src="/images/instagram-logo.svg" alt="">
                <p>Instagram</p>
            </a>
            <a class="d-flex align-items-center" href="https://www.facebook.com/groups/246941362511468/?ref=bookmarks">
                <img src="/images/facebook-logo.svg" alt="">
                <p>Facebook</p>
            </a>
            <a class="d-flex align-items-center" href="mailto:keynote.studies@gmail.com">
                <img src="/images/close-envelope.svg" alt="">
                <p>Mail</p>
            </a>
        </div>
    </div>
    <div class="contact-types">
        <p class="tel-number"></p>
    </div>
</footer>

<script src="/libs/jquery/dist/jquery.js"></script>
<script src="/libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/libs/aos/dist/aos.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>
