<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/libs/normalize-css/normalize.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap-grid.min.css'/>
    <link rel="stylesheet" href="/libs/aos/dist/aos.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.theme.default.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body class="body">
<navigation class="navigation ">
    <div class="div"></div>

</navigation>
<section class="main-page w-100">
    <div class="background-layer w-100 h-100"></div>
    <div class="dark-layer w-100 h-100"></div>
    <nav id="header" class="sticky d-flex align-items-center justify-content-between px-5">
        <img id="white-logo" class="logo show" src="/images/logo_white.png" alt="">
        <img id="black-logo" class="logo " src="/images/logo_black.png" alt="">
        <div id="hamburger" class="hamburger__wrapper js-hamburger">
            <div class="hamburger">
                <span id="first-line"></span>
                <span id="second-line"></span>
                <span id="third-line"></span>
            </div>
        </div>
    </nav>
    <div class="info d-flex flex-column align-items-center  justify-content-center">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <h2>Lorem ipsum dolor sit.</h2>
    </div>
</section>
<section   class="lessons w-100 p-5 d-flex flex-column align-items-center ">
    <div class="tac w-100 d-flex justify-content-center flex-column align-items-center mb-4">
        <h3>Lorem ipsum.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, fuga.</p>

    </div>
    <div class="container-fluid w-100 ">
        <div class="row w-100 m-0 px-5 ">

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/html.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <h4 class="mb-3">
                                <span class="course-name">HTML/CSS</span>
                                <span class="course-count">8 courses</span>
                            </h4>
                            <p class="m-0">
                                Learn the fundamentals of design, front-end development, and crafting user experiences
                                that are easy on the eyes.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/javascript.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <h4 class="mb-3">
                                <span class="course-name">JavaScript</span>
                                <span class="course-count">17 courses</span>
                            </h4>
                            <p class="m-0">
                                Learn the fundamentals of design, front-end development, and crafting user experiences
                                that are easy on the eyes.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/ruby.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <h4 class="mb-3">
                                <span class="course-name">Ruby</span>
                                <span class="course-count">8 courses</span>
                            </h4>
                            <p class="m-0">
                                Learn the fundamentals of design, front-end development, and crafting user experiences
                                that are easy on the eyes.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/python.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <h4 class="mb-3">
                                <span class="course-name">Python</span>
                                <span class="course-count">8 courses</span>
                            </h4>
                            <p class="m-0">
                                Learn the fundamentals of design, front-end development, and crafting user experiences
                                that are easy on the eyes.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/android.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <h4 class="mb-3">
                                <span class="course-name">Android</span>
                                <span class="course-count">8 courses</span>
                            </h4>
                            <p class="m-0">
                                Learn the fundamentals of design, front-end development, and crafting user experiences
                                that are easy on the eyes.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/ios.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <h4 class="mb-3">
                                <span class="course-name">IOS</span>
                                <span class="course-count">8 courses</span>
                            </h4>
                            <p class="m-0">
                                Learn the fundamentals of design, front-end development, and crafting user experiences
                                that are easy on the eyes.
                            </p>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>
<section class="mentors w-100 d-flex flex-column">
    <div class="header w-100 d-flex justify-content-center align-items-center">
        <h3>Наш состав:</h3>

    </div>
    <div class="list  d-flex flex-column ">
        <div class="owl-carousel ">

            <div class="teacher d-flex align-items-center justify-content-center">
                <div class="content  flex-column align-items-center justify-content-around">

                    <img class="preview-img" src="/images/Joha.jpg" alt="">
                    <div class="info w-100 h-100   align-items-center justify-content-around">
                        <div class="triangle"></div>
                        <div class="triangle big"></div>
                        <div class="more h-100 d-flex align-items-center justify-content-center">
                            <ul >
                                <li>
                                    <p>Age:19</p>
                                </li>

                                <li>
                                    <p>Status:Senior</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about h-100 pl-3 d-flex flex-column justify-content-between">
                            <div class="tn-first d-flex flex-column justify-content-center">
                                <h4>Jakhanger Kazhiyev</h4>
                                <h5>Front-end, Scratch</h5>
                            </div>
                            <div class="tn-last d-flex">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur cupiditate eligendi hic optio rerum!</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="teacher d-flex align-items-center justify-content-center">
                <div class="content  flex-column align-items-center justify-content-around">

                    <img class="preview-img" src="/images/Joha.jpg" alt="">
                    <div class="info w-100 h-100   align-items-center justify-content-around">
                        <div class="triangle"></div>
                        <div class="triangle big"></div>
                        <div class="more h-100 d-flex align-items-center justify-content-center">
                            <ul >
                                <li>
                                    <p>Age:19</p>
                                </li>

                                <li>
                                    <p>Status:Senior</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about h-100 pl-3 d-flex flex-column justify-content-between">
                            <div class="tn-first d-flex flex-column justify-content-center">
                                <h4>Jakhanger Kazhiyev</h4>
                                <h5>Front-end, Scratch</h5>
                            </div>
                            <div class="tn-last d-flex">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur cupiditate eligendi hic optio rerum!</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="teacher d-flex align-items-center justify-content-center">
                <div class="content  flex-column align-items-center justify-content-around">

                    <img class="preview-img" src="/images/Joha.jpg" alt="">
                    <div class="info w-100 h-100   align-items-center justify-content-around">
                        <div class="triangle"></div>
                        <div class="triangle big"></div>
                        <div class="more h-100 d-flex align-items-center justify-content-center">
                            <ul >
                                <li>
                                    <p>Age:19</p>
                                </li>

                                <li>
                                    <p>Status:Senior</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about h-100 pl-3 d-flex flex-column justify-content-between">
                            <div class="tn-first d-flex flex-column justify-content-center">
                                <h4>Jakhanger Kazhiyev</h4>
                                <h5>Front-end, Scratch</h5>
                            </div>
                            <div class="tn-last d-flex">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur cupiditate eligendi hic optio rerum!</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="teacher d-flex align-items-center justify-content-center">
                <div class="content  flex-column align-items-center justify-content-around">

                    <img class="preview-img" src="/images/Joha.jpg" alt="">
                    <div class="info w-100 h-100   align-items-center justify-content-around">
                        <div class="triangle"></div>
                        <div class="triangle big"></div>
                        <div class="more h-100 d-flex align-items-center justify-content-center">
                            <ul >
                                <li>
                                    <p>Age:19</p>
                                </li>

                                <li>
                                    <p>Status:Senior</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about h-100 pl-3 d-flex flex-column justify-content-between">
                            <div class="tn-first d-flex flex-column justify-content-center">
                                <h4>Jakhanger Kazhiyev</h4>
                                <h5>Front-end, Scratch</h5>
                            </div>
                            <div class="tn-last d-flex">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur cupiditate eligendi hic optio rerum!</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<section class="feedback-form w-100 d-flex flex-column align-items-center">
    <div class="tac d-flex align-items-center justify-content-center">
        <h3>Свяжитесь с нами</h3>
    </div>
    <div class="feedback-details w-100 d-flex  row">
        <div class="info d-flex col-md-6 p-0">
            <div class="conver w-100 h-100 d-flex">
                <form class=" h-100 d-flex flex-column justify-content-around p-5" action="">
                    <div>
                        <h4>Имя:</h4>
                        <input type="text" name="name" placeholder="John Doe">
                    </div>
                    <div>
                        <h4>Номер телефона:</h4>
                        <input type="text" name="phone" placeholder="+7-(708)-000-00-00">
                    </div>
                    <div>
                        <h4>Курс который хотите пройти:</h4>
                        <input class="mb-0" type="text" name="course" placeholder="HTML/CSS">
                    </div>
                    <div class="break_line"></div>
                </form>
                <div class="our-info p-5 d-flex flex-column justify-content-around">
                    <div class="item">
                        <h4>Tel:</h4>
                        <p>+7 708 723 34 51</p>
                    </div>
                    <div class="item">
                        <h4>Email:</h4>
                        <p>Keynote@gmail.com</p>
                    </div>
                    <div class="item">
                        <h4>Address:</h4>
                        <p>Almaty st.Kazhimukana 17</p>
                    </div>
                </div>
                <img class="bookmark" src="/images/bookmark.svg" alt="">
            </div>
        </div>
        <div class="col-md-6 info map">
            <a class="dg-widget-link"
               href="http://2gis.kz/almaty/firm/70000001029135976/center/76.914927,43.236892/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                на карте Алматы</a>
            <div class="dg-widget-link"><a
                    href="http://2gis.kz/almaty/center/76.914927,40.236892/zoom/16/routeTab/rsType/bus/to/76.914927,43.236892╎SmArt.Point, коворкинг-центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                проезд до SmArt.Point, коворкинг-центр</a></div>
            <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
            <script charset="utf-8">new DGWidgetLoader({
                "width": 640,
                "height": 640,
                "borderRadius":"10px",
                "borderColor": "#a3a3a3",
                "pos": {"lat": 43.236892, "lon": 76.914927, "zoom": 16},
                "opt": {"city": "almaty"},
                "org": [{"id": "70000001029135976"}]
            });</script>
            <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите
                его в настройках вашего браузера.
            </noscript>
        </div>


    </div>
</section>
<footer class="footer w-100">

</footer>

<script  src="/libs/jquery/dist/jquery.js"></script>
<script  src="/libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script  src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/libs/aos/dist/aos.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>
