<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    <meta name="yandex-verification" content="e42ba39e2f3d76fe" />
    <meta name="description" content="Курсы программирования и дизайна для взрослых, студентов и детей.
Научись программированию с нуля. Занятия в группах и индивидуально." />
    <link rel='stylesheet' href='/libs/normalize-css/normalize.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap-grid.min.css'/>
    <link rel="stylesheet" href="/libs/aos/dist/aos.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.theme.default.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="icon" type="image/gif" href="/images/flaticon.png"/>
</head>
<body class="body">
<navigation class="navigation flex-column align-items-center justify-content-center">
    <!--<from class="form">-->
    <!--<img class="logo" src="/images/logo_white.png" alt="">-->
    <!--<div class="w-100 d-flex">-->
    <!--<div class="wrap d-flex flex-column w-50 pr-3">-->
    <!--<p>Имя:</p>-->
    <!--<input type="text" placeholder="Марлен" required>-->
    <!--</div>-->
    <!--<div class="wrap d-flex flex-column w-50 pl-2">-->
    <!--<p>Фамилия:</p>-->
    <!--<input type="text" placeholder="Марлен" required>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="wrap d-flex flex-column pr-3 w-50">-->
    <!--<p>Номер телефона:</p>-->
    <!--<div class="d-flex">-->
    <!--<input id="tel_number" type="text" class="w-100" required placeholder="+7 (000) 000-00-00">-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="wrap d-flex flex-column">-->
    <!--<p>Курс:</p>-->
    <!--<select required name="" id="">-->
    <!--<option value="HTML">HTML/css</option>-->
    <!--<option value="Scratch">Scratch</option>-->
    <!--<option value="Java">Java</option>-->
    <!--<option value="Python">Pyhton</option>-->
    <!--<option value="Algorithm">Algorithm</option>-->
    <!--<option value="Design">Design</option>-->
    <!--<option value="Web-intensive">Web-Intensive</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--<input class="s-btn" type="submit">-->
    <!---->
    <!--</from>-->
    <a class="lent " href="#main" rel="relativeanchor">Главная</a>
    <a class="lent " href="#courses">Курсы</a>
    <a class="lent " href="#team">О нас</a>
    <a class="lent " href="#contacts">Контакты</a>
    <a class="lent " href="tel:+7-702-479-63-00">+7-(702)-479-63-00</a>
</navigation>
<div class="register-drop flex-column align-items-center justify-content-center">
    <div class="c-layer"></div>
    <form class="form-element">
        <img class="logo" src="/images/logo_white.png" alt="">
        <div class="w-100 d-flex">
            <div class="wrap d-flex flex-column w-50 pr-3">
                <p>Имя:</p>
                <input id="name-form" type="text" name="name" placeholder="Марлен" required>
            </div>
            <div class="wrap d-flex flex-column w-50 pl-2">
                <p>Фамилия:</p>
                <input id="surname-form" type="text" name="surname" placeholder="Марлен" required>
            </div>
        </div>

        <div class="wrap d-flex flex-column pr-3 w-50">
            <p>Номер телефона:</p>
            <div class="d-flex">
                <input id="tel-form" name="phone" type="text" class="w-100" required placeholder="+7 (000) 000-00-00">

            </div>
        </div>
        <div class="wrap d-flex flex-column">
            <p>Курс:</p>
            <select id="course-form" required name="course" >
                <option value="HTML">HTML/css</option>
                <option value="Scratch">Scratch</option>
                <option value="Java">Java</option>
                <option value="Python">Pyhton</option>
                <option value="Algorithm">Algorithm</option>
                <option value="Design">Design</option>
                <option value="Web-intensive">Web-Intensive</option>
            </select>
        </div>
        <button class="s-btn m-auto" type="submit">
            Отправить
        </button>

    </form>
</div>
<section id="main" class="main-page w-100">
    <div class="background-layer first w-100 h-100"></div>
    <div class="background-layer second w-100 h-100"></div>
    <div class="background-layer third w-100 h-100"></div>
    <div class="background-layer four w-100 h-100"></div>
    <div class="dark-layer w-100 h-100"></div>
    <nav id="header" class="sticky d-flex align-items-center justify-content-between ">
        <a id="white-logo" class="show" href="/"><img class="logo " src="/images/logo_white.png" alt=""></a>
        <a id="black-logo" href="/"><img class="logo " src="/images/logo_black.png" alt=""></a>
        <a class="lent d-none d-md-block" href="#main" rel="relativeanchor">Главная</a>
        <a class="lent d-none d-md-block" href="#courses">Курсы</a>
        <a class="lent d-none d-md-block" href="#team">О нас</a>
        <a class="lent d-none d-md-block" href="#contacts">Контакты</a>
        <a class="lent d-none d-md-block" href="tel:+7-702-479-63-00">+7-(702)-479-63-00</a>

        <div id="hamburger" class="hamburger__wrapper js-hamburger d-flex d-md-none ">
            <div class="hamburger">
                <span id="first-line"></span>
                <span id="second-line"></span>
                <span id="third-line"></span>


            </div>
        </div>
    </nav>
    <div class="info d-flex flex-column align-items-center  justify-content-center">
        <div class="d-flex">
            <h1 id="word">Учись</h1>
            <!--<h1 id="2-word">Создавай.</h1>-->
            <!--<h1 id="3-word">Твори.</h1>-->
        </div>
        <button id="register-btn">
            Записаться на курсы
        </button>
    </div>
</section>
<section class="fee-in-kz d-flex flex-column align-items-center ">
    <div class="kz1 d-flex flex-column align-items-center">
        <h2>150 000 KZT</h2>
        <p>Средняя заработная плата в Казахстане</p>
    </div>
    <div class="trades row d-flex justify-content-center ">
        <div class="col-md-2 px-0 d-flex flex-column align-items-center">
            <div class="circle  d-flex align-items-center justify-content-center">
                <img src="/images/mainpage/house.svg" alt="">
            </div>
            <p>Ком. услуги</p>
            <span>30.000 KZT</span>
        </div>
        <div class="col-md-1 plus d-flex align-items-center justify-content-center">
            <img src="/images/mainpage/add.svg" alt="">
        </div>
        <div class="col-md-2 px-0 d-flex flex-column align-items-center">
            <div class="circle d-flex align-items-center justify-content-center">
                <img src="/images/mainpage/diet.svg" alt="">
            </div>
            <p>Продукты питания</p>
            <span>50.000 KZT</span>
        </div>
        <div class="col-md-1 plus d-flex align-items-center justify-content-center">
            <img src="/images/mainpage/add.svg" alt="">
        </div>
        <div class="col-md-2 px-0 d-flex flex-column align-items-center">
            <div class="circle d-flex align-items-center justify-content-center">
                <img src="/images/mainpage/car.svg" alt="">
            </div>
            <p>Транспорт</p>
            <span>35.000 KZT</span>
        </div>
        <div class="col-md-1 plus d-flex align-items-center justify-content-center">
            <img src="/images/mainpage/add.svg" alt="">
        </div>
        <div class="col-md-2 px-0 d-flex flex-column align-items-center">
            <div class="circle d-flex align-items-center justify-content-center">
                <img src="/images/mainpage/hanger.svg" alt="">
            </div>
            <p>Одежда</p>
            <span>35.000 KZT</span>
        </div>
    </div>
    <div class="summary d-flex flex-column align-items-center">
        <img src="/images/mainpage/equal.svg" alt="">
        <h3>0 KZT</h3>
        <p>На свое развитие</p>
        <button>
            <a href="#courses">
                Зарабатывать больше

            </a>
        </button>
    </div>
</section>
<section id="statistics" class="statistics d-flex flex-column align-items-center ">
    <div class="header d-flex flex-column align-items-center">
        <h4>Средняя заработная плата программистов и дизайнеров в крупных компаниях</h4>
    </div>
    <div class="d-flex w-100 align-items-center postion-relative">
        <div class="c-btn prev"><img class="" src="/images/mainpage/left-arrow.svg" alt=""></div>
        <div class="company owl-carousel h-100">
            <div class="item d-flex flex-column ">
                <div class="company-name d-flex w-100 align-items-center justify-content-between">
                    <img src="/images/facebook.png" alt="">
                </div>
                <div class="bars-container h-100 d-flex flex-column ">
                    <!--<div class="work-type  d-flex flex-column">-->
                    <!--<ul>-->
                    <!--<li>Дизайнер</li>-->
                    <!--<li>Front-end</li>-->
                    <!--<li>Back-end</li>-->
                    <!--<li>Android</li>-->
                    <!--<li>iOS разработчик</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="bar  d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line nthng"></div>
                            <span class="nthng fee">$163.500</span>
                        </div>
                        <p class="nthng profession">Дизайнер</p>

                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line first nthng"></div>
                            <span class="nthng fee">$157.000</span>
                        </div>
                        <p class="nthng profession">Специалист по обработке и анализу данных</p>

                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line second nthng"></div>
                            <span class="nthng fee"> $150.000</span>

                        </div>
                        <p class="profession nthng">iOS разработчик</p>
                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line third nthng"></div>
                            <span class="nthng fee"> $132.500</span>

                        </div>
                        <p class="profession nthng">Веб-разработчик</p>
                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line four nthng"></div>
                            <span class="nthng fee">$130.000</span>

                        </div>
                        <p class="profession nthng">Android разработчик</p>
                    </div>
                </div>
            </div>

            <div class="item d-flex flex-column">
                <div class="company-name d-flex w-100 align-items-center justify-content-between">
                    <img src="/images/google.png" alt="">
                </div>
                <div class="bars-container h-100 d-flex flex-column ">
                    <!--<div class="work-type  d-flex flex-column">-->
                    <!--<ul>-->
                    <!--<li>Дизайнер</li>-->
                    <!--<li>Front-end</li>-->
                    <!--<li>Back-end</li>-->
                    <!--<li>Android</li>-->
                    <!--<li>iOS разработчик</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="bar  d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line nthng"></div>
                            <span class="nthng fee">$171.000</span>
                        </div>
                        <p class="nthng profession">Специалист по обработке и анализу данных</p>

                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line first nthng"></div>
                            <span class="nthng fee">$132.000</span>
                        </div>
                        <p class="nthng profession">Специалист по комплексной разработке веб-приложений</p>

                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line second nthng"></div>
                            <span class="nthng fee">$123.000</span>

                        </div>
                        <p class="profession nthng">Android разработчик</p>
                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line third nthng"></div>
                            <span class="nthng fee">$121.000</span>

                        </div>
                        <p class="profession nthng">iOS разработчик</p>
                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line four nthng"></div>
                            <span class="nthng fee">$119.500</span>

                        </div>
                        <p class="profession nthng">Дизайнер</p>
                    </div>
                </div>


            </div>
            <div class="item d-flex flex-column">
                <div class="company-name d-flex w-100 align-items-center">
                    <img class="apple mr-3 mb-4" src="/images/apple.png" alt="">
                    <h4>Apple</h4>
                </div>
                <div class="bars-container h-100 d-flex flex-column ">
                    <!--<div class="work-type  d-flex flex-column">-->
                    <!--<ul>-->
                    <!--<li>Дизайнер</li>-->
                    <!--<li>Front-end</li>-->
                    <!--<li>Back-end</li>-->
                    <!--<li>Android</li>-->
                    <!--<li>iOS разработчик</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="bar  d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line nthng"></div>
                            <span class="nthng fee">$161.000</span>
                        </div>
                        <p class="nthng profession">Специалист по обработке и анализу данных</p>

                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line first nthng"></div>
                            <span class="nthng fee">$152.000</span>
                        </div>
                        <p class="nthng profession">Специалист по разработке программного обеспечения</p>

                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line second nthng"></div>
                            <span class="nthng fee">$149.000</span>

                        </div>
                        <p class="profession nthng">Дизайнер</p>
                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line third nthng"></div>
                            <span class="nthng fee">$147.000</span>

                        </div>
                        <p class="profession nthng">iOS разработчик</p>
                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line four nthng"></div>
                            <span class="nthng fee">$117.000</span>

                        </div>
                        <p class="profession nthng">Специалист по комплексной разработке веб-приложений</p>
                    </div>
                </div>


            </div>
            <div class="item d-flex flex-column">
                <div class="company-name d-flex w-100 align-items-center justify-content-between">
                    <img src="/images/amazon.png" alt="">
                </div>
                <div class="bars-container h-100 d-flex flex-column ">
                    <!--<div class="work-type  d-flex flex-column">-->
                    <!--<ul>-->
                    <!--<li>Дизайнер</li>-->
                    <!--<li>Front-end</li>-->
                    <!--<li>Back-end</li>-->
                    <!--<li>Android</li>-->
                    <!--<li>iOS разработчик</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="bar  d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line nthng"></div>
                            <span class="nthng fee">$157.500</span>
                        </div>
                        <p class="nthng profession">Machine Learning Scientist</p>

                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line first nthng"></div>
                            <span class="nthng fee">$146.000</span>
                        </div>
                        <p class="nthng profession">iOS разработчик</p>

                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line second nthng"></div>
                            <span class="nthng fee">$131.000</span>

                        </div>
                        <p class="profession nthng">Веб-разработчик</p>
                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line third nthng"></div>
                            <span class="nthng fee">$123.000</span>

                        </div>
                        <p class="profession nthng">Android разработчик</p>
                    </div>
                    <div class="bar d-flex flex-column">
                        <div class="line-container d-flex align-items-center ">
                            <div class="line four nthng"></div>
                            <span class="nthng fee">$116.000</span>

                        </div>
                        <p class="profession nthng">Дизайнер</p>
                    </div>
                </div>


            </div>


        </div>
        <div class="c-btn next"><img class="" src="/images/mainpage/right-arrow.svg" alt=""></div>

    </div>
</section>
<section id="courses" class="lessons w-100 p-5 d-flex flex-column align-items-center ">
    <div class="tac w-100 d-flex justify-content-center flex-column align-items-center mb-4">
        <h3>Курсы</h3>
        <p>Найдите курс, который подходит именно вам.</p>

    </div>
    <div class="container-fluid w-100 ">
        <div class="row w-100 m-0">

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/html">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/html.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="mb-3">
                                     <h4 class="">
                                        <span class="course-name">Web- </span>
                                         <span class="slogan">начни зарабатывать</span>
                                    </h4>
                                    <span class="course-count"> 24 занятия / 12 недель</span>

                                </div>

                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 ₸ / месяц</p>
                                </div>

                            </div>

                            <p class="m-0">
                                Основы дизайна, front-end и back-end-разработок.
                            </p>
                        </div>
                        <button class="register">
                            Подробнее
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/scratch">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/scratch.png" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="mb-3">
                                    <h4 class="">
                                        <span class="course-name">Code kids - </span>
                                        <span class="slogan">новое поколение</span>
                                    </h4>
                                    <span class="course-count"> 24 занятия / 12 недель</span>

                                </div>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 ₸ / месяц </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Курс для маленьких начинающих программистов.
                            </p>
                        </div>
                        <button class="register">
                            Подробнее
                        </button>
                    </div>
                </a>
            </div>

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/java">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/java.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="mb-3">
                                    <h4 class="">
                                        <span class="course-name">Java - </span>
                                        <span class="slogan">создай приложение</span>
                                    </h4>
                                    <span class="course-count"> 24 занятия / 12 недель</span>

                                </div>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 ₸ / месяц</p>
                                </div>

                            </div>
                            <p class="m-0">
                                Курс подойдет всем, кто желает научиться программировать на языке Java "с нуля" .</p>
                        </div>
                        <button class="register">
                            Подробнее
                        </button>
                    </div>

                </a>
            </div>

            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/python">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/python.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="mb-3">
                                    <h4 class="">
                                        <span class="course-name">Python - </span>
                                        <span class="slogan">стань востребованным</span>
                                    </h4>
                                    <span class="course-count"> 24 занятия / 12 недель</span>

                                </div>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 ₸ / месяц </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Этот курс будет полезен всем, кто хочет познакомиться с языком программирования Python и
                                углубить свои знания о нём.
                            </p>
                        </div>
                        <button class="register">
                            Подробнее
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/algorithm">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/algorithm.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="mb-3">
                                    <h4 class="">
                                        <span class="course-name">Algorithms - </span>
                                        <span class="slogan">стань мастером</span>
                                    </h4>
                                    <span class="course-count"> 24 занятия / 12 недель</span>

                                </div>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 ₸ / месяц</p>
                                </div>

                            </div>
                            <p class="m-0">
                                Курс представляет собой изучение основных алгоритмов и структур данных, необходимых
                                программистам для качественного решения ежедневных задач.

                            </p>
                        </div>
                        <button class="register">
                            Подробнее
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/design">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/drawing.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="mb-3">
                                    <h4 class="">
                                        <span class="course-name">Design - </span>
                                        <span class="slogan">думай иначе</span>
                                    </h4>

                                </div>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 25.000 ₸ / месяц</p>
                                </div>

                            </div>
                            <p class="m-0">
                                Рекомендуем пройти обучение специалистам и программистам, начинающим дизайнерам
                                любого направления, которые хотят научиться создавать дизайн для удобных
                                интерфейсов.</p>
                        </div>
                        <button class="register">
                            Подробнее
                        </button>
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/web-intensive">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/web.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Web-Intensive</span>
                                    <span class="course-count">7 часов / 7 занятий  </span>

                                </h4>
                                <div class="d-flex flex-column justify-content-end mb-3">
                                    <p class="price"> 35.000 ₸ / курс </p>
                                </div>

                            </div>
                            <p class="m-0">
                                Изучение веб програмирования в ускоренном режиме
                            </p>
                        </div>
                        <!--<button class="register">-->
                            <!--Подробнее-->
                        <!--</button>-->
                    </div>
                </a>
            </div>
            <div data-aos="fade-down" class="col-md-6 column-box d-flex justify-content-center align-items-center">
                <a href="/lesson/individual">
                    <div class="item w-100 d-flex ">
                        <div class="media-side h-100 d-flex align-items-center justify-content-center">
                            <img src="/images/mainpage/sharing.svg" alt="">
                        </div>
                        <div class="info-side h-100 d-flex flex-column justify-content-center pl-4">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <h4 class="mb-3">
                                    <span class="course-name">Индивидуальные занятия</span>
                                    <!--<span class="course-count">12 занятия / 4 недель</span>-->

                                </h4>
                                <!--<div class="d-flex flex-column justify-content-end mb-3">-->
                                <!--<p class="price"> 5.000 KZT </p>-->
                                <!--</div>-->

                            </div>
                            <p class="m-0">
                                Изучение уроков индивидуально.
                            </p>
                        </div>
                        <button class="register">
                            Подробнее
                        </button>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>

<section class="abroad w-100 d-flex flex-column align-items-center justify-content-between">
    <h4 class="mb-5">Казахстанцы за границей</h4>
    <div class="w-100 d-flex align-items-center position-relative">
        <div class="c-btn prev-a"><img class="" src="/images/mainpage/left-arrow.svg" alt=""></div>

        <div class="owl-carousel abroad-stu">
            <div class="item d-flex align-items-center justify-content-center">
                <div class="info d-flex flex-column align-items-center justify-content-center">
                    <div class="media-side d-flex align-items-center justify-content-end pl-3 ">
                        <div class="d-flex flex-column mr-5 ">
                            <h4>Асхат Ахметжанов</h4>
                            <h5>Facebook</h5>
                        </div>
                        <img src="/images/abroad/1.png" alt="">


                    </div>
                    <div class="about w-100 p-3 pt-4">
                        <p>Сейчас мне 26, я из Экибастуза. В 2009 поступил в КБТУ на факультет Информационные
                            Технологий,
                            затем по той же специальности поступил в тот же факультет на магистратуру. Закончил в июне
                            2015
                            года и начал работать в Фейсбуке с 12 Октября, 2015 г в возрасте 24 года. Попасть в фб очень
                            сложно. Отбирают через нескольких этапов собеседований. Самый сложный этап - это попасть на
                            интервью. Каждый год компания получает сотни тысяч резюме и отличиться среди них очень
                            сложно. Я
                            подавал через facebook.com/careers многократно, дополнительно писал письма рекрутерам с
                            просьбой
                            рассмотреть мое резюме. И вот однажды мне все-таки ответили и назначили собеседование. Самое
                            первое по телефону. После него пригласили в головной офис в Калифорнию. Они покрывали все
                            расходы на авиабилеты, отель, еду, и тд. Но по иронии судьбы я не смог поехать и пришлось
                            пройти
                            оставшиеся этапы удаленно. Остальные этапы состояли из 3-мя собеседованиями(удаленно-очные)
                            и
                            еще одно собеседование по телефону. Почти все они были технические, т.е надо было писать код
                            прямо у них на глазах и объяснять свои подходы. Вопросы в основном алгоритмические. Типичные
                            вопросы найти вбив в поисковик “Facebook coding interview questions”. И да, все интервью на
                            английском и желательно хорошо им владеть
                        </p>

                    </div>

                    </p>
                </div>
            </div>
            <div class="item d-flex align-items-center justify-content-center">
                <div class="info d-flex flex-column align-items-center justify-content-center">
                    <div class="media-side d-flex align-items-center justify-content-end  pl-3 ">
                        <div class="d-flex flex-column mr-5 ">
                            <h4>Мадияр Айтбаев</h4>
                            <h5>Google</h5>
                        </div>
                        <img src="/images/abroad/2.png" alt="">

                    </div>
                    <div class="about w-100 p-3 pt-4">
                        <p>Мне сейчас 25, в Google я устроился когда мне было 22 года. Сам я родился и ходил в школу в
                            Талдыкоргане. Закончил КТЛ, во время учёбы в котором начал участвовать в олимпиадах по
                            информатике. Стал чемпионом в республиканских и призером в международных олимпиадах.
                            Поступил в
                            КБТУ и продолжал участвовать в соревнованиях, где наша команда дважды стала финалистом в
                            престижной олимпиаде ACM ICPC. После этого меня пригласили на собеседование в стартап в
                            Силиконой долине imo.im. Прошел собеседование и проработал там 3 месяца. Рекрутер из Google
                            заметил и пригласил меня на собеседование. После успешного собеседования, меня приняли на
                            работу
                            на должность Software Engineer в лондонский офис. Меня вдохновляет то, что с каждым нажатием
                            на
                            клавиатуре мы способны менять не только экономику страны, но и жизни людей (конечно в лучшую
                            сторону:) ) Я люблю экспериментировать, читать книги разных жанров и путешествовать
                        </p>

                    </div>

                    </p>
                </div>
            </div>
            <div class="item d-flex align-items-center justify-content-center">
                <div class="info d-flex flex-column align-items-center justify-content-center">
                    <div class="media-side d-flex align-items-center justify-content-end  pl-3 ">
                        <div class="d-flex flex-column mr-5 ">
                            <h4>Ержан Уткелбаев</h4>
                            <h5>Google</h5>
                        </div>
                        <img src="/images/abroad/3.png" alt="">


                    </div>
                    <div class="about w-100 p-3 pt-4">
                        <p>
                            Мне 27 лет (будет 28 в этом году). Я с Алматы. Я закончил КБТУ бакалавриат и магистратуру. Я
                            попал в Google когда мне было 25 лет. Моя позиция в Google была – Software Engineer(Work
                            related
                            to Google Cloud) Я занимался спортивным программированием, также работал во многих разных
                            местах. Мой опыт мне помог пройти interview. Мое хобби programming competitions, computer
                            games.

                        </p>

                    </div>

                    </p>
                </div>
            </div>
            <div class="item d-flex align-items-center justify-content-center">
                <div class="info d-flex flex-column align-items-center justify-content-center">
                    <div class="media-side d-flex align-items-center justify-content-end   pl-3 ">
                        <div class="d-flex flex-column mr-5 ">
                            <h4>Алибек Датбаев</h4>
                            <h5>Booking</h5>
                        </div>
                        <img src="/images/abroad/4.jpg" alt="">

                    </div>
                    <div class="about w-100 p-3 pt-4">
                        <p>
                            Родился и вырос я в славном городе Павлодаре. Окончив школу «Жас Дарын», поступил в КБТУ,
                            где я
                            и получил свой первый профессиональный опыт, поучаствовав в создании университетского сайта.
                            До Booking-a я работал во многих местах, включая и США, но летом 2015-года мне пришлось
                            вернуться в Казахстан. Как раз осенью Booking проводил онлайн-соревнование с целью
                            приглашения
                            на работу. Я поучаствовал в данном соревновании, решил несколько задачек и со мной связались
                            рекрутеры с предложением пройти собеседование. Проведя несколько этапов разной сложности,
                            меня
                            пригласили в офис на финальное собеседование, после которого мне и предложили работу на
                            должность Специалист по разработке программного обеспечения. В Booking.com каждый сотрудник имеет возможность воплощать в
                            реальность все свои самые смелые идеи. Когда осознаешь, что твоим продуктом пользуются
                            тысячи
                            людей, ты делаешь для них какие-то фишки, строишь интерфейсы. Именно вот это понимание
                            значимости твоей работы, того, что люди действительно этим пользуются - вдохновляет на новые
                            идеи.
                        </p>

                    </div>

                    </p>
                </div>
            </div>

        </div>
        <div class="c-btn next-a"><img class="" src="/images/mainpage/right-arrow.svg" alt=""></div>


    </div>
</section>
<section class="learn-more d-flex align-items-center justify-content-center">
    <h3>ИЗУЧАЙ ПРОГРАМИРОВАНИЕ И ДИЗАЙН</h3>
</section>
<section id="team" class="mentors w-100 d-flex flex-column">
    <div class="header w-100 d-flex justify-content-center align-items-center">
        <h3>Наш состав:</h3>

    </div>
    <div class="list container  d-flex flex-column ">
        <div class="row">

            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/abyl.jpg" alt="">
                </div>
                <h4>Омар Абылай</h4>
                <p>В школьные годы был олимпийцем по информатике. Участвовал в различных олимпиадах, а так же в
                    престижной международной студенческой олимпиаде ACM/ICPC.</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/bakhyt.jpg" alt="">
                </div>
                <h4>Шамыран Бахыт</h4>
                <p>Окончила школы дизайна как в местных, так и заграничных учреждениях. Занималась многими коммерческими
                    проектами. Профессионально владеет программами Adobe Creative Suite.</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/aidana.jpg" alt="">
                </div>
                <h4>Усентай Айдана </h4>
                <p>Участвовала в коммерческих проектах. Имеет глубокое понимание AutoCAD и 3Ds MAX</p>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/jakha.jpg" alt="">
                </div>
                <h4>Кажиев Жахангер</h4>
                <p>Участвовал в 20 различных коммерческих проектах. Имеет опыт работы с ICO.</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/bota.jpg" alt="">
                </div>
                <h4>Салимжанова Ботагоз</h4>
                <p>Офис-менджер, полиглот: знание более 4 языков, перфекционист, фотограф</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/fariza.jpg" alt="">
                </div>
                <h4>Жолдассова Фариза</h4>
                <p></p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center  item">
                <div class="t-circle d-flex align-items-center justify-content-center">
                    <img src="/images/teachers/shera.jpg" alt="">
                </div>
                <h4>Әлібекұлы Шерхан</h4>
                <p>Основатель</p>
            </div>
        </div>

        <!--<div class="teacher d-flex justify-content-between">-->
        <!--<div class="about d-flex flex-column justify-content-center ">-->
        <!--<h5>Some info about me:</h5>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores debitis doloremque doloribus ducimus enim eos error eveniet exercitationem nemo nostrum placeat possimus, qui recusandae, repellat sunt tempora voluptatibus voluptatum.</p>-->
        <!--</div>-->
        <!--<div class="main-info d-flex flex-column justify-content-center align-items-center">-->
        <!--<h5>Жахангер Кажиев</h5>-->

        <!--<img src="/images/Joha.jpg" alt="">-->
        <!--<p>Front-end,Skratch</p>-->
        <!--</div>-->
        <!--<div class="personal-info d-flex flex-column justify-content-center">-->
        <!--<h5>Personal info:</h5>-->
        <!--<ul>-->
        <!--<li><span>Tel: </span>+7-707-651-90-87</li>-->
        <!--<li><span>Website: </span>keynote.kz</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->

    </div>
</section>
<section class="fee-of-companies">

</section>
<section class="feedback-form w-100 d-flex flex-column align-items-center">
    <div class="tac d-flex align-items-center justify-content-center">
        <h3>Свяжитесь с нами</h3>
    </div>
    <div class="feedback-details w-100 d-flex  row">

        <div class="col-md-12 info map">
            <a class="dg-widget-link"
               href="http://2gis.kz/almaty/firm/9429940000785873/center/76.91410303115846,43.2387939306264/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                на карте Алматы</a>
            <div class="dg-widget-link"><a
                    href="http://2gis.kz/almaty/firm/9429940000785873/photos/9429940000785873/center/76.91410303115846,43.2387939306264/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии
                компании</a></div>
            <div class="dg-widget-link"><a
                    href="http://2gis.kz/almaty/center/76.914105,43.238497/zoom/16/routeTab/rsType/bus/to/76.914105,43.238497╎Bayzak, бизнес-центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                проезд до Bayzak, бизнес-центр</a></div>
            <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
            <script charset="utf-8">new DGWidgetLoader({
                "width": 640,
                "height": 600,
                "borderColor": "#a3a3a3",
                "pos": {"lat": 43.2387939306264, "lon": 76.91410303115846, "zoom": 16},
                "opt": {"city": "almaty"},
                "org": [{"id": "9429940000785873"}]
            });</script>
            <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите
                его в настройках вашего браузера.
            </noscript>
        </div>


    </div>
</section>
<footer id="contacts" class="footer w-100 d-flex align-items-center">
    <div class="social-network d-none d-md-flex  align-items-start flex-wrap">
        <div class="mr-4">
            <a class="d-flex align-items-center mb-3" href="https://www.instagram.com/keynote.kz/">
                <img src="/images/instagram-logo.svg" alt="">
                <p>Instagram</p>
            </a>
            <a class="d-flex align-items-center" href="https://www.facebook.com/groups/246941362511468/?ref=bookmarks">
                <img src="/images/facebook-logo.svg" alt="">
                <p>Facebook</p>
            </a>
        </div>
        <div>
            <a class="d-flex align-items-center mb-3" href="mailto:keynote.studies@gmail.com">
                <img src="/images/close-envelope.svg" alt="">
                <p>Mail</p>
            </a>
            <a class="d-flex align-items-center" href="tg://resolve?domain=Keynoteschool">
                <img src="/images/close-envelope.svg" alt="">
                <p>Telegram</p>
            </a>
        </div>

    </div>
    <div class="logo-wrap d-flex flex-column align-items-center justify-content-center">
        <img class="logo mb-3" src="/images/logo_white.png" alt="">
        <p>Школа програмирования и дизайна</p>
    </div>
    <div class="contact-types d-flex flex-column  align-items-end justify-content-center">
        <p>
            Абая 52в, БЦ Байзак. г.Алматы
        </p>
        <p class="tel-number d-flex">
            Tel:<a class="lent  ml-2" href="tel:+7-702-479-63-00">+7-(702)-479-63-00</a>
        </p>
    </div>
    <div class="social-network d-flex d-md-none align-items-start flex-wrap">
        <a class="d-flex align-items-center " href="https://www.instagram.com/keynote.kz/">
            <img src="/images/instagram-logo.svg" alt="">
        </a>
        <a class="d-flex align-items-center" href="https://www.facebook.com/groups/246941362511468/?ref=bookmarks">
            <img src="/images/facebook-logo.svg" alt="">
        </a>
        <a class="d-flex align-items-center  " href="mailto:keynote.studies@gmail.com">
            <img src="/images/close-envelope.svg" alt="">
        </a>
        <a class="d-flex align-items-center" href="tg://resolve?domain=Keynoteschool">
            <img src="/images/telegram.svg" alt="">
        </a>

    </div>

</footer>
<script src="/libs/jquery/dist/jquery.js"></script>
<script src="/libs/aos/dist/aos.js"></script>

<script src="/libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="/libs/emailjs-com/dist/email.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116124379-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('event', 'conversion', {'send_to': 'AW-811395469/qVeBCMrOtX8QjdPzggM'});

    gtag('config', 'UA-116124379-1');
    gtag('config', 'AW-811395469');
</script>

<script src="/javascripts/main.js"></script>

</body>
</html>
