@import "fonts.scss";
html {
  width: 100%;
  height: 100%;

}


@media (min-width: 320px)  { html { font-size: 50.1%; } }  // 50.1% = 8px
@media (min-width: 768px)  { html { font-size: 56.3%; } }  // 56.3% = 9px
@media (min-width: 992px)  { html { font-size: 62.5%; } }  // 62.5% = 10px

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  margin:0;
  background-size:cover;


  ::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(#929292, 0);
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(180, 180, 180, .8);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(130, 130, 130, .6);
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(130, 130, 130, .9);
    cursor: pointer;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}
