@import "config.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&subset=cyrillic');

$black: #041125;
$yellow: #DEAE23;
* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: #ffffff;
  color: white;
  z-index: 9;
  display: flex;
  align-items: center;
  transform: translateY(-100%);
  transition: 0.3s ease;
  padding: 120px 0;
  &.open {
    transform: translateY(0);
  }
}

.sticky {
  width: 100%;
  position: sticky;
  height: 8rem;
  transition: all 0.4s ease;
  background-color: transparent;
  top: 1px;
  z-index: 50;
  padding-left: 4rem !important;
  padding-right: 25rem !important;

  a {
    display: none;
  }
  .lent{
    display: block;
    color: white;
    font-family: Montserrat;
    &.black{
      color: $black;
    }
  }

  &.h-clr {
    background-color: white;
    .hamburger span {
      background-color: $black !important;
    }
  }
  .show {
    display: block;
    .logo {
      height: 3rem;
      transition: all 0.4s ease;

      display: block;

    }

  }

  .hamburger__wrapper {
    background-color: transparent;
    width: 30px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 10
  }

  .hamburger__wrapper {
    transform: translateY(-100px);
    animation: 0.5s hamburger forwards 2s
  }

  .hamburger__wrapper:hover .hamburger span:before {
    transform: scaleX(1);
    transform-origin: left
  }
  .hamburger__wrapper:hover .hamburger span:nth-child(2):before {
    transition-delay: 0.1s
  }
  .hamburger__wrapper:hover .hamburger span:nth-child(3):before {
    transition-delay: 0.2s
  }

  .hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }

  @media (max-width: 767px) {
    .hamburger {
      width: 24px;
      height: 17px
    }
  }

  .hamburger span {
    width: 100%;
    height: 1px;
    position: relative;
    background-color: white;
    transition: 0.2s ease;
    will-change: transform
  }

  .hamburger span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $yellow;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease
  }

  .hamburger span:nth-child(1) {
    transform-origin: right top
  }

  .hamburger span:nth-child(3) {
    transform-origin: right bottom
  }

  @keyframes hamburger {
    0% {
      transform: translateY(-100%)
    }
    100% {
      transform: translateY(0)
    }
  }

  .open-first {
    transform: rotate(-42deg);
    background-color: $black !important;

  }
  .open-second {
    opacity: 0

  }
  .open-third {
    background-color: $black !important;

    transform: rotate(42deg)

  }

  .lines {
    position: fixed !important;
    top: -20%;
    height: 140%;
    width: 100%;
    left: 0;
    display: flex !important;
    justify-content: space-between
  }

  .lines__wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1
  }

  .line {
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative !important
  }

  .line:first-child,
  .line:last-child {
    opacity: 0
  }

  @media (max-width: 940px) {
    .line {
      display: none
    }
    .line:nth-child(-n+8) {
      display: block
    }
  }

  .body--light .line {
    background-color: rgba(0, 0, 0, 0.05)
  }
}

.fixed {
  position: fixed !important;
  background-color: $black;
  z-index: 10;
  top: 0;
  height: 6rem;
  .logo {
    height: 2.8rem;
  }
  &.colored {
    background-color: transparent;

  }
}

.main-page {
  height: 100vh;
  position: relative;
  .background-layer {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background-size: cover;
    &.first {
      background-image: url("/images/mainpage/moscow_1.jpg");
      opacity: 1;
      animation-name: cf3FadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      animation-direction: alternate;
    }
    &.second {
      background-image: url("/images/mainpage/moscow_2.jpg");
      opacity: 0;
      animation-name: cf3FadeInOut2;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      animation-direction: alternate;
    }
    &.third {
      background-image: url("/images/mainpage/moscow_3.jpg");
      opacity: 0;
      animation-name: cf3FadeInOut3;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      animation-direction: alternate;
    }
    &.four {
      opacity: 0;
      background-image: url("/images/mainpage/moscow_4.jpg");
      animation-name: cf3FadeInOut4;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      animation-direction: alternate;

    }
  }
  @keyframes cf3FadeInOut {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
  @keyframes cf3FadeInOut2 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    45% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes cf3FadeInOut3 {
    0% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes cf3FadeInOut4 {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .dark-layer {
    z-index: -1;
    position: absolute;
  }

  .info {
    height: calc(100% - 8rem) !important;
    h1, h2 {
      //background: linear-gradient(to left, #333147 0%, #f44741 100%);
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
      color: whitesmoke;
      font-size: 4.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: "Mont-Heavy";
      font-weight: 500;
      margin-bottom: 4rem;
      text-align: center;
      @media (max-width: 798px) {
        font-size: 3rem;

      }
    }
    button {
      border: 0;
      padding: 1rem 2rem;
      background-color: rgba(222, 174, 35, 0.7);
      border-radius: 2rem;
      color: #fff;
      text-decoration: none ;
      font-size: 1.6rem;
      font-family: Montserrat;
      a{
        color: white;
      }
    }
  }
}
.fee-in-kz{
  height: 71rem;
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  h2{
    font-size: 10rem;
    color: $black;

  }
  p{
    font-family: Mont-Heavy;
    font-size: 2rem;
  }
  .kz1{
    margin-bottom: 5rem;
  }
  .circle{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: transparent;
    border: 3px dashed $black;
    margin-bottom: 2rem;

  }
  img{
    height: 6rem;
  }
  .plus{
    padding-bottom: 9rem;
    img{
      height: 4rem;

    }
  }
  .summary{
    h3{
      font-size: 6rem;

    }
    p{
      font-size: 2rem;
    }
    button{
      background-color: $yellow;
      color: white;
      border: 0;
      border-radius: 2rem;
      width: 20rem;
      height: 4rem;
      cursor: pointer;
    }
  }
  .trades{
    width: 80%;
    p{
      font-family: Mont-Light;
      font-size: 1.5rem;
      text-align: center;
    }
    span{
      font-family: Mont-Light;
      font-size: 1.5rem;
    }
  }
}
.lessons {
  background-color: #f6f8f8;
  padding-bottom: 4.625rem !important;
  @media (max-width: 798px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .tac {
    height: 12rem;
    p{
      font-size: 1.8rem;
    }
  }
  h3 {
    font-size: 3rem;
    color: $yellow;
  }

}
.column-box {
  margin-bottom: 1.25rem;
  &:nth-last-child(n) {
    padding-right: 0.625rem !important;
  }
  &:nth-last-child(n+1) {
    padding-left: 0.625rem !important;
  }
  a {
    text-decoration: none;
    width: 100%;
  }
  .price {
    color: $yellow !important;
    font-weight: 400 !important;
    text-align: end;
    margin-bottom: 0;
    font-size: 1.8 nprem !important;
  }
  .item {
    background-color: white;
    height: 15rem;
    border-radius: 10px;
    border: 1px solid #efefef;

    position: relative;

    @media(max-width: 798px) {
      height: auto;
      flex-direction: column;
    }
    .media-side {
      width: 20%;
      padding: 2.5rem;
      padding-right: 0!important;
      img {
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        background-color: #3b3c45;
      }
      @media(max-width: 798px) {
        width: 100%;
        margin-bottom: 1rem;
        img {
          height: 10rem;
        }
      }
    }
    .info-side {
      width: 80%;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      padding-right: 2.5rem;

      @media(max-width: 798px) {
        width: 100%;
      }
      h4 {
        font-family: "Open Sans";
        font-weight: 300;

        .course-name {
          color: $yellow;
          font-size: 2.2rem;

        }
        .course-count {
          margin-left: 1rem;
          color: $black;
          font-size: 1.6rem;

        }

      }
      p {
        font-family: "Open Sans";
        color: $black;
        font-weight: 300;
        font-size: 1.4rem;
      }

    }
    .register{
      position: absolute;
      bottom:0.8rem;
      right: 1rem;
      border: 0;
      border-radius: 0.5rem;
      padding:0.4rem 0.7rem;
      background-color: $yellow;
      color: white;
      cursor: pointer;
    }
  }
}
.statistics {
  //background-color: rgba(222,174,35,0.7);
  background-color: $black;
  height: 62rem;
  padding: 4rem 5.625rem;
  .header {
    height: 15%;
    margin-bottom: 7rem;
  }

  h4 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
  }
  p{
    color: #ccc;
    font-family: Mont-Light;
  }
  .company {
    width: 100%;
    .item {
      height: 45rem;
      .company-name{
        margin-bottom: 1.5rem;
        padding-right: 2rem;
        height: 5rem;
        img{
          width: 12rem;
          max-height: 5rem;
        }
      }
      h5 {
        color: white;
        font-family: "Mont-Light";
        font-weight: 500;
        font-size: 2.6rem;
      }
      .bars-container {
        padding-right: 2rem;
        //.work-type{
        //  width: 25%;
        //  height: 100%;
        //  border-right: 1px solid #EFEFEF;
        //  ul{
        //    height: 100%;
        //    padding-left: 0!important;
        //    list-style-type: none;
        //
        //  }
        //  li{
        //    height: 20%;
        //    font-size: 1.6rem;
        //    font-family: "Mont-Light";
        //    color: #ccc;
        //  }
        //}
        .bar {
          height: 7rem;
          width: 100%;
          p{
            color: #ccc;
            font-family: Mont-Light;
            font-size: 1.4rem;
          }
          .line-container{
            margin-bottom: 5px;
            width: 100%;
            .fee, .profession{
              font-family: Mont-Light;
              color: whitesmoke;
              font-size: 1.6rem;
                opacity: 1;
                transition: all 3s ;
            }
          }
          .line {
            height: 1.2rem;
            width: 80%;
            margin-right: 1rem;
            background: rgba(14, 175, 238, 1);
            background: -moz-linear-gradient(left, rgba(14, 175, 238, 1) 0%, rgba(241, 111, 92, 1) 49%, rgba(222, 175, 35, 1) 81%, rgba(222, 174, 35, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14, 175, 238, 1)), color-stop(49%, rgba(241, 111, 92, 1)), color-stop(81%, rgba(222, 175, 35, 1)), color-stop(100%, rgba(222, 174, 35, 1)));
            background: -webkit-linear-gradient(left, rgba(14, 175, 238, 1) 0%, rgba(241, 111, 92, 1) 49%, rgba(222, 175, 35, 1) 81%, rgba(222, 174, 35, 1) 100%);
            background: -o-linear-gradient(left, rgba(14, 175, 238, 1) 0%, rgba(241, 111, 92, 1) 49%, rgba(222, 175, 35, 1) 81%, rgba(222, 174, 35, 1) 100%);
            background: -ms-linear-gradient(left, rgba(14, 175, 238, 1) 0%, rgba(241, 111, 92, 1) 49%, rgba(222, 175, 35, 1) 81%, rgba(222, 174, 35, 1) 100%);
            background: linear-gradient(to right, rgba(14, 175, 238, 1) 0%, rgba(241, 111, 92, 1) 49%, rgba(222, 175, 35, 1) 81%, rgba(222, 174, 35, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0eafee', endColorstr='#deae23', GradientType=1);
            -webkit-transition-property: width;
            transition-property: width;
            -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            -webkit-transition-duration: 1.2s;
            transition-duration: 1.2s;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            opacity: 1;

          }
          .nthng{
            opacity: 0!important;
            width: 0%!important;
          }
          .first{
            width: 75%;
            background: -webkit-linear-gradient(to right, #00c6ff, #a343da);
            background: -webkit-linear-gradient(left, #00c6ff, #a343da);
            background: linear-gradient(to right, #00c6ff, #a343da);
          }
          .second{
            width: 66%;
            background: rgba(27,26,50,1);
            background: -moz-linear-gradient(left, rgba(27,26,50,1) 0%, rgba(27,26,50,1) 24%, rgba(222,174,35,1) 80%, rgba(222,174,35,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,26,50,1)), color-stop(24%, rgba(27,26,50,1)), color-stop(80%, rgba(222,174,35,1)), color-stop(100%, rgba(222,174,35,1)));
            background: -webkit-linear-gradient(left, rgba(27,26,50,1) 0%, rgba(27,26,50,1) 24%, rgba(222,174,35,1) 80%, rgba(222,174,35,1) 100%);
            background: -o-linear-gradient(left, rgba(27,26,50,1) 0%, rgba(27,26,50,1) 24%, rgba(222,174,35,1) 80%, rgba(222,174,35,1) 100%);
            background: -ms-linear-gradient(left, rgba(27,26,50,1) 0%, rgba(27,26,50,1) 24%, rgba(222,174,35,1) 80%, rgba(222,174,35,1) 100%);
            background: linear-gradient(to right, rgba(27,26,50,1) 0%, rgba(27,26,50,1) 24%, rgba(222,174,35,1) 80%, rgba(222,174,35,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1a32', endColorstr='#deae23', GradientType=1 );
          }
          .third{
            width: 50%;

            background: rgba(53,71,78,1);
            background: -moz-linear-gradient(left, rgba(53,71,78,1) 0%, rgba(53,71,78,1) 21%, rgba(75,91,97,1) 31%, rgba(103,118,123,1) 44%, rgba(225,231,232,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,71,78,1)), color-stop(21%, rgba(53,71,78,1)), color-stop(31%, rgba(75,91,97,1)), color-stop(44%, rgba(103,118,123,1)), color-stop(100%, rgba(225,231,232,1)));
            background: -webkit-linear-gradient(left, rgba(53,71,78,1) 0%, rgba(53,71,78,1) 21%, rgba(75,91,97,1) 31%, rgba(103,118,123,1) 44%, rgba(225,231,232,1) 100%);
            background: -o-linear-gradient(left, rgba(53,71,78,1) 0%, rgba(53,71,78,1) 21%, rgba(75,91,97,1) 31%, rgba(103,118,123,1) 44%, rgba(225,231,232,1) 100%);
            background: -ms-linear-gradient(left, rgba(53,71,78,1) 0%, rgba(53,71,78,1) 21%, rgba(75,91,97,1) 31%, rgba(103,118,123,1) 44%, rgba(225,231,232,1) 100%);
            background: linear-gradient(to right, rgba(53,71,78,1) 0%, rgba(53,71,78,1) 21%, rgba(75,91,97,1) 31%, rgba(103,118,123,1) 44%, rgba(225,231,232,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35474e', endColorstr='#e1e7e8', GradientType=1 );
          }
          .four {
            width: 38%;

            background: rgba(158,183,184,1);
            background: -moz-linear-gradient(left, rgba(158,183,184,1) 0%, rgba(158,183,184,1) 18%, rgba(100,107,105,1) 81%, rgba(100,107,105,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(158,183,184,1)), color-stop(18%, rgba(158,183,184,1)), color-stop(81%, rgba(100,107,105,1)), color-stop(100%, rgba(100,107,105,1)));
            background: -webkit-linear-gradient(left, rgba(158,183,184,1) 0%, rgba(158,183,184,1) 18%, rgba(100,107,105,1) 81%, rgba(100,107,105,1) 100%);
            background: -o-linear-gradient(left, rgba(158,183,184,1) 0%, rgba(158,183,184,1) 18%, rgba(100,107,105,1) 81%, rgba(100,107,105,1) 100%);
            background: -ms-linear-gradient(left, rgba(158,183,184,1) 0%, rgba(158,183,184,1) 18%, rgba(100,107,105,1) 81%, rgba(100,107,105,1) 100%);
            background: linear-gradient(to right, rgba(158,183,184,1) 0%, rgba(158,183,184,1) 18%, rgba(100,107,105,1) 81%, rgba(100,107,105,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eb7b8', endColorstr='#646b69', GradientType=1 );
          }
        }
      }
    }

  }

}
.learn-more{
  height: 100vh;
  width: 100%;
  h3{
    font-size: 9rem;
    text-align: center;
    font-family: Mont-Heavy;
    color: $black;
  }
}
.mentors {
  background-color: #fafafa;

  .header {
    height: 12rem;
    h3 {
      font-size: 3rem;
      letter-spacing: 2px;
    }
  }
  .list {
    padding: 0 6rem!important;

    #content {
      width: 16rem;
      overflow-x: hidden;

    }
    .item{
      height: 35rem;
    }
    .t-circle{
      height: 20rem;
      width: 100%;
      img{
        border: 2px solid #e3e3e3;
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 1rem;
        box-shadow: 0 0 5px #efefef;
      }
    }
    h4{
      font-family: Montserrat;
      font-size: 2rem;
      font-weight: 500;
    }
    p{
      font-family: Montserrat;
      font-size: 1.4rem;
      text-align: center;
    }
  }
}

.fee-of-companies {

}

.feedback-form {
  //padding-left: calc(6.625rem + 15px);
  //padding-right: calc(6.625rem + 15px);
  padding-bottom: 3rem;
  @media (max-width: 798px) {
    padding: 2rem 2rem;
  }
  .tac {
    height: 12rem;
    h3 {
      color: $black;
      font-size: 3rem;
      letter-spacing: 2px;
    }
  }
  .feedback-details {

    .map {
      height: 32rem;
      padding: 0!important;
      iframe {
        height: 100%;
        width: 100%;
      }
      @media (max-width: 798px) {
        padding-left: 0 !important;
        height: 40rem;
      }
    }

  }
}

.footer {
  height: 14rem;
  background-color: $black;
  padding: 2rem;
  border-top: 1px solid #EFEFEF;
  .header {
    width: 90%;
    height: 5rem;
    border-bottom: 1px solid #e7e7e7;;
    .social {
      img {
        height: 3rem;
        object-fit: cover;
      }
    }
    .address {
      img {
        height: 2rem;
        margin-right: 5px;
      }
      p {
        color: white;
        font-size: 1.4rem;
      }
    }
    .logo {
      height: 3.5rem;
    }

  }
  .logo{
    height: 3rem;

  }
  .social-network{
    img{
      height: 1.6rem;
    }
    h5{
      color: white;
      font-size: 1.4rem;
      font-family: Mont-Light;
    }
    a{
      height: 20%;
      margin-right: 1rem;
      img{
        margin-right: 1rem;
      }
      p{
        margin: 0;
        font-size: 1.2rem;
        color: white;
        font-family: Mont-Light;
      }
    }
  }
}

.lesson-page {
  .sticky {
    border-bottom: 1px solid #EFEFEF;
    background-color: white;
    height: 7rem;
    .hamburger span {
      background-color: $black;
    }

  }
  .fixed {
    height: 6rem;
    background-color: white;
  }
  .path {
    height: 35rem;
    padding: 0 5rem;
    background: linear-gradient(to left, #21abc7, #616db3);

    .info {
      padding: 0 2.5rem;
      background-image: url("/images/lesson/html-lesson.svg");
      background-repeat: no-repeat;
      background-position: bottom right;
    }
    h3 {
      font-family: Montserrat;
      color: white;
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    p {
      font-family: Montserrat;
      color: white;
      font-size: 1.6rem;
      font-weight: 400;
      width: 30%;
    }
  }
  .steps {
    padding: 0 7.5rem;
    background-color: #f6f8f8;
    @media (max-width: 798px) {
      padding: 0 2rem;
    }
    .roadmap {
      width: 70%;
      padding: 4rem 0;
      padding-right: 4rem;
      @media (max-width: 798px) {
        width: 100%;
        padding: 4rem 0;
      }
      .preface {
        margin-bottom: 4rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #EFEFEF;
        h4 {
          font-family: Montserrat;
          font-size: 2.5rem;
          color: $black;
          margin-bottom: 1rem;
        }
        .main-idea {
          font-family: Montserrat;
          font-size: 1.4rem;

        }
      }

      .sylabus-week {
        margin-bottom: 4rem;
        position: relative;
        .ss {
          h4 {
            font-family: Mont-Light;
            font-size: 2.4rem;
            margin-bottom: 1.6rem;
          }
          p {
            font-family: Montserrat;
            font-size: 1.3rem;
          }
          margin-bottom: 2rem;
        }
        .circle-big {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background-color: #e2e8e8;
          border: 1px solid #efefef;
          position: relative;
          z-index: 4;
        }
        .circle-small {
          position: absolute;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: #fff;
          z-index: 5;
        }
        .connector {
          position: absolute;
          width: 6px;
          height: 11rem;
          background-color: #e2e8e8;
          left: calc(50% - 3px);
          top: -10.2rem;
          z-index: 1;
        }
        @media (max-width: 798px) {
          .circle-big, .circle-small {
            display: none !important;
          }
          .ss {
            p {
              font-size: 1.4rem !important;
            }
          }
        }
        .item {
          width: 94%;
          height: 11.5rem;
          border: 1px solid #EFEFEF;
          background-color: #fff;
          border-radius: 6rem;
          padding-left: 4rem;
          padding-right: 4rem;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          align-self: flex-end;
          position: relative;
          @media (max-width: 798px) {
            width: 100%;
            flex-direction: column;
            border-radius: 10px;
            height: auto;
            min-height: 16rem;
            padding: 2rem;
            align-items: flex-end !important;
            justify-content: space-around;

            .i-tb {
              width: 80% !important;
              padding-bottom: 1rem;
            }
            .days {
              width: 80% !important;
              padding-top: 1rem;
              ul {
                padding-left: 0 !important;
                list-style-type: none;
              }
            }
            .i-tb {
              min-height: 6rem !important;
            }
            .line {
              width: 100% !important;
              height: 1px !important;
              top: inherit !important;
              bottom: 0%;

            }
            .lesson-img {
              position: absolute;
              height: 5rem !important;
              left: 5%;
              top: calc(50% - 2.5rem);
            }
          }

          .lesson-img {
            height: 6rem;
            //border-radius: 50%;
          }
          .i-tb {
            width: 50%;
            position: relative;
            padding-right: 15px;
            .line {
              position: absolute;
              top: 10%;
              right: 0;
              width: 1px;
              height: 80%;
              background-color: #EFEFEF;
            }
            h5 {
              font-family: Montserrat;
              color: #21abc7;
              font-size: 1.8rem;
              font-weight: 500;
              text-decoration: none;
              transition: 0.2s ease-in-out;
            }
            p {
              font-family: Montserrat;
              color: #393d40;
              font-size: 1.3rem;
              font-weight: 400;
              text-decoration: none;
              transition: 0.2s ease-in-out;
              margin-bottom: 0;
            }
          }
          .days {
            width: calc(100% - 50% - 6.5rem);
            li {
              font-family: Montserrat;
              color: #374461;
              font-size: 1.2rem;
              font-weight: 400;
              text-decoration: none;
            }
          }
        }
      }
    }
    .lessons {
      width: 30%;
      padding: 4rem 0;
      padding-left: 4rem;
      padding-right: 4rem;
      .courses-type {
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        height: 34rem;
        background-color: white;
        margin-bottom: 4rem;
        .bezel {
          width: 20rem;
          height: 20rem;
          background-color: #f6f8f8;
          border-radius: 50%;

        }
        img {
          height: 16rem;
          border-radius: 50%;
        }
        h5 {
          font-size: 3rem;
          font-family: Mont-Light;
        }
      }
      .navigation-courses {
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-color: white;
        h5 {
          padding: 2rem;
          color: #666666;
          font-size: 1.6rem;
          font-family: Montserrat;
        }
        ul {
          list-style-type: none;
          padding: 0;
          li {
            height: 4rem;
            display: flex;
            align-items: center;
            border-top: 1px solid #e5e4e3;
            &:hover {
              background-color: #EFEFEF;
              cursor: pointer;
              a {
                color: #21abc7;
              }
            }
            a {
              padding: 2rem;
              text-decoration: none;
              width: 100%;
              display: block;
              color: #393d40;
            }
          }
        }
      }
    }
  }
}



